
$font-family:    'ralewayregular';

$container-width: 80%;

$background-main-color: #000000;

$text-primary-color: #ffffff;

$red-color: #E41101;

$red-color-hover: #cc0e00;

$link-color: #ffffff;

$link-color-hover: #cc0e00;

$grey-color: #878787;

