<% var
pageTitle = "Landing Page";
pageId = "index";
pageUrl = "";
pageDescription = "";
%>

<% include ./partial/_header %>

<div class="container">

    Start Adding your content here.

</div>

<% include ./partial/_footer %>
